body {
    background-color: #F6F7FF;
    margin: 0;
    padding: 0;
}

.banner_top {
    margin-left: -38px;
    margin-top: 18px;
}

.profile_menu {
    background: #4A63E7;
    width: 290px;
    height: 657px;
    overflow: hidden;
    position: fixed;
}

.profile_img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 18%;
    margin-top: 10%;
    box-shadow: 0px 1px 0px #ffffff, -1px 0px 10px #fff8f8;
}

.profile_name {
    text-align: center;
    margin-left: -19%;
    margin-top: 5%;
    font-size: 28px;
    font-family: Poppins;
    text-transform: uppercase;
    color: #fff;
}

.profiler_profession h5 {
    margin-left: 15%;
    font-size: 14px;
    color: #fff;
    font-family: 'Poppins';
}

.dev-menu ul {
    margin-left: 4%;
}

.dev-menu ul li {
    list-style: none;
}

.dev-menu ul li a {
    text-decoration: none;
    color: #fff;
}

.dev-menu ul li a i {

    font-size: 14px;
    padding: 7px 20px 12px 0px;
}

.profile_menu {
    float: left;
}

.dev-menu {
    margin-top: 8%;
}

section.header_sec {
    overflow: hidden;
}

.all_body img {
    width: 98%;
    height: 600px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 10%);
}

.image_after {
    position: absolute;
    z-index: 10;
    width: 75.8%;
    height: 600px;
    background: #475ed3e0;
    top: 19px;
    border-radius: 10px;
}

.banner_top_text {
    position: absolute;
    top: 171px;
    z-index: 11;
    left: 33%;
    width: 45%;
}

.banner_top_text h2 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 700;
}

.banner_top_text h4 {
    font-family: 'Poppins';
    font-size: 19px;
    color: #fff;
    margin: 13px 0px 80px 0px;
}


button#portfolio,
#hireme,
.cvDownload,
.hireme2 {
    padding: 12px 26px;
    border: none;
    border-radius: 30px 30px 30px 30px;
    background: #FF5959;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

button#portfolio i,
#hireme i,
.hireme2 i,
.cvDownload i {
    margin-right: 12px;
    font-size: 18px;
}

button#hireme {
    background: none;
    border: 1px solid #ddd;
}


button#portfolio:hover {
    background: #4A63E7;
    box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 20%);
    transform: translateY(-3px);
}

button#hireme:hover {
    background: #fff;
    box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 20%);
    transform: translateY(-3px);
    color: #000;
}

.banner_top_text p {
    color: #fff;
    font-family: 'Poppins';
    font-size: 15px;
    margin: 33px 0px;
}

span.color_bot,
.color_bot2 {
    position: relative;
    z-index: 15;
}

span.color_bot::after,
.color_bot2::after {
    position: absolute;
    top: 48px;
    left: 0;
    content: "";
    width: 15px;
    height: 15px;
    background: #FF5959;
    border-radius: 50%;
}

span.color_bot2::after {
    position: absolute;
    top: 50px;
    left: -35px;
    content: "";
    width: 8px;
    height: 8px;
    background: #FF5959;
    border-radius: 50%;
}

.about_me,
.my_skill,
.own_counter,
.my_service,
.experince,
.my_awesome_work,
.contact_me{
    width: 101%;
    height: 638px;
    background: white;
    padding: 60px 60px 60px 60px;
    margin: 30px 15px 30px -37px;
    border-radius: 10px;
    box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 10%);
}

/* 
section Title style */

.about_me_top h4,
.my_skill_rename h4,
.Service_title h4 {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
}


.border_about,
.border_skill,
.border_service {
    position: absolute;
    width: 34px;
    height: 5px;
    background: #FF5959;
    top: 87%;
    border-radius: 10px;
    margin-top: 19px;
}

.top_about_text,
.my_skill_rename,
.Service_title,
.expirence_title {
    position: relative;
    z-index: 4;
}

/* section title style End */
.about_me_top {
    width: 100%;
    height: 100px;
}

.about_me_Pic img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 50px;
}

.about_me_detials h2 {
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 700;
}

.about_me_detials p {
    font-family: 'Poppins';
    text-align: justify;
    margin-top: 35px;
    margin-bottom: 38px;
    color: #818181;
    font-size: 16px;
}

.personal_details h3 {
    font-family: 'Poppins';
    font-size: 16px;
}

.personal_details h3 span {
    color: #818181;
}


button.cvDownload {
    padding: 11px 27px;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.about_Me_bottom {
    margin: 20px 0px;

}

button.hireme2 {
    background: #4A63E7;
    padding: 11px 26px;
    margin: 0px 0px 0px 22px;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.personal_details h3 {
    font-size: 16px;
}


/* my skill section  */


.my_skill_descripte {
    margin: 85px 145px 0px 0px;
}

.my_skill_descripte p {
    color: #898989;
    text-align: justify;
}

.my_skill_bottom {
    margin: 80px 0px 30px 0px;
}

.divMar {
    margin: 22px 0px;
}

.progess_skill_name h5 {
    font-family: 'Poppins';
    font-size: 17px;
    color: #ff0076;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}



.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 20px;
    width: 400px;
}

.progress-done {
    background: linear-gradient(to left, #F2709C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0%;
    opacity: 0;
    transition: 1s ease 0.3s;
}

.manTAskCom img {
    width: 425px;
    height: auto;
    margin: 127px 0px 0px 0px;
}

.my_skill {
    height: 900px;
}

.own_counter {
    height: 240px;
    background: #4A67DE;
    color: #fff;
}

.icon i {
    background: #FF5959;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 16px;
}

.box {
    text-align: center;
}

.counter {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Poppins';
}

.text {
    font-family: 'Poppins';
}

/* service Style  */

.service_top {
    width: 100%;
    height: 120px;
}

.service_box {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 259px;
    height: 190px;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}

.service_box_icon i {
    font-size: 24px;
    color: #FF5959;
}

.service_box_text h4 {
    font-size: 19px;
    font-family: 'Poppins';
    margin: 15px 0px 15px 0px;
    font-weight: 700;

}

.service_box_text p {
    color: #aba6a6;
    font-family: 'Poppins';
    font-size: 14px;
}

.service_box_icon {
    margin-top: 10px;
}

.service_box_icon {
    margin-top: 10px;
}

.service_box:hover {
    background: #FF5959;
    color: #fff;
    box-shadow: 0px 6px 15px 0px rgb(0 0 0 / 15%);
}

.service_box:hover i,
.service_box:hover p {
    color: #fff;
}

.service_bottom {
    margin-top: 40px;
}

.experience_middle {
    margin-top: 74px;
}

.experience_yearWrap {
    margin-top: 30px;
}

.experience_yearWrap {
    margin-top: 50px;
}

.experinece_year h4 {
    font-size: 15px;
    margin-bottom: 107px;
    color: #b1abab;
    font-weight: 400;
}

.progress_line {
    height: 502px;
    width: 3px;
    background: #e0dfdf;
    position: relative;
    float: left;
}

#spanTop {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #e34747;
    top: 0px;
    border-radius: 50%;
    margin-left: -3px;
}

#spanBottom {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #e34747;
    top: 364px;
    border-radius: 50%;
    margin-left: -3px;

}

span#spanNoOne,
#spanNoTwo,
#spanNoThree {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(255 80 0 / 47%);
    border: 1px solid #ffffff00;
    top: 14%;
    margin-left: -3px;
    border-radius: 50%;
}


#spanNoTwo {
    top: 50%;
}

#spanNoThree {
    top: 82%;
}

/* experience Card  */
.experience_card {
    margin-left: 2rem;
    background: #e8e8e86e;
    box-shadow: 0px 6px 15px 0px rgb(95 118 242 / 20%);
    padding: 18px;
    width: 400px;
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 25px;
}

.experience_logo i {
    font-size: 20px;
    margin-top: 11px;
    color: #f42f2f;
}

.experience_content h4 {
    font-size: 20px;
    text-transform: capitalize;
}

.experience_content p {
    margin: 5px 0;
    color: #717171;
}

p#company {
    font-weight: 500;
    color: #828282;
}

div#experince_content {

    height: 740px;
    
}

/* .awesome_img img {
    width: 100%;
    height: auto;
}

.awesome_demo {
    margin-top: 30px;
}

.awesome_img {
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url(../img/react\ next.png);
    background-size: cover;
    background-position: top;
    transition: 30s;
}

.work_demo:hover .awesome_img {
    background-position: bottom;
 
}

.work_demo {
    position: relative !important;
}

.work_Overlay {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 11;
    text-align: center;
    border: 2px solid #d1d1d1;
}

.work_Overlay {
    background: #6155bac4;
    color: #fff;
    margin: auto;
    padding-top: 59px;
}

.work_demo:hover .work_Overlay {
    opacity: 0;
}

.work_Overla y h3 {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    color: #000;
}

.work_Overlay h4 {
    font-size: 18px;
    font-family: sans-serif;
    color: #595757;

}

.overlay_border {
    position: absolute;
    width: 180px;
    height: 180px;
    z-index: 22;
    border: 2px solid #fff;
    transform: translate(10px, 10px);
}

#image_back {
    background-image: url(../img/work\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.show_box{
    opacity: 0%;
}
.work_demo:hover .show_box{
    opacity: 100%;
}

#awesome_img2{
    background-image: url(../img/hometutor.jpg);
}
#awesome_img3{
    background-image: url(../img/testo\ burger.png);
} */



.image_slide {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    border: 1px solid #ddd;
    position: relative;
  }
.for_all_img_slide{
    width: 100%;
    height: 248px;
    position: absolute;
    background-size: cover;
    background-position: top !important;
    transition: 30s;
}
.image_box {
    
    background-image: url(../img/react\ next.png);
   
}
.image_box2{
    background-image: url(../img/testo\ burger.png);
}
.image_box3{
    background-image: url(../img/hometutor.jpg);
}
.image_box4{
    background-image: url(../img/work\ 4.jpg);
}


.image_slide:hover .image_slide_top_Bottom {
    background-position: bottom !important;
 

}
.text_box {
    position: absolute;
    z-index: 10;
    top: 36%;
    left: 13%;
    color: #fff;
}

.overlay {position: absolute;background: #2e0f34de;width: 100%;height: 248px;z-index: 7;    transition: 1s; }


.image_slide:hover .overlay {opacity: 0;}

.overlay_box {
    position: absolute;
    width: 90%;
    height: 220px;
    border: 1px solid #ddd;
    z-index: 12;
    left: 5%;
    top: 6%;
}

.image_slide:hover .overlay_box {opacity: 0;}


.image_slide:hover .text_box {opacity: 0;}

.text_box h3 {font-family: 'Poppins';font-size: 23px;}
.img_Icon {position: absolute;top: 48%;left: 44%;z-index: 20;color: #fff;font-size: 20px;}

.image_slide:hover .img_Icon {
    opacity: 0;
}


#form_control{
    display: block;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: 0px 5px 20px 0px rgb(55 53 83 / 10%);
    margin-bottom: 20px;
}
#form_control_area{
    display: block;
    border-radius: 30px;

    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #454360;
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: 0px 5px 20px 0px rgb(55 53 83 / 10%);
    margin-bottom: 20px;
}
#form_control:focus{
    box-shadow: 0px 5px 20px 0px rgb(55 53 83 / 10%);
}


.btn_default {
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1;
    padding: 12px 32px;
    position: relative;
    border: none;
}

.btn_default {
    color: #fff;
    background: #ff4c60;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.contact_call_img img {width: 100%;height: auto;}

.contact_text h3 {letter-spacing: 1px;font-family: fantasy;color: #565555;font-size: 29px;}
.contact_text h4 {margin-top: 45px;font-family: fantasy;font-size: 18px;letter-spacing: 1px;color: #5d5c5cdd;}



#menu_open {position: absolute;top: 40px;right: 52px;z-index: 501;color: #fff; cursor: pointer;}

.icon_menu{
    display: none;
}


textarea#form_control_area:focus {outline: none;}

.experience_card:hover {transform: translate(10px, 10px);}
.experience_card{
    transition: 1s;
}
.profile_name h3 {font-size: 27px;}
